:host {
  display: block;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .counter {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.75rem;
    font-weight: 700;
  }
}
